


.fat-img{
    background-color:#000; 
    width:100%; 
    height:auto;  
    left: 0;
    right: 0;
    z-index: -1;
}
*{
    margin: 0;
    padding: 0;
    color: #fff;
}

body{
    background: #0F2027;
    cursor: default;
}

a{
    cursor: pointer;
}

h1, a{
    font-family: 'Abel', sans-serif;
    font-size: 45px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
nav{
    height: 100px;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: -100px;
    display: block;
    transition: top 0.6s;
    z-index: 999;
}
.logo{
    position: absolute;
}

nav h1{
    margin: 10px 0 0 110px;
    position: absolute;
    text-align: center;
    font-size: 35px;
    cursor: default;
}

#links{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    margin: 25px 30px 0 0;
    font-size: 35px;
}

nav a:hover{
    color: rgb(42, 138, 218);
    transition: 0.5s;
}

.technik{
    display: flex;
    justify-content: space-between;
    height: 500px;
    cursor: default;
}

.technik h1,
.technik p{
    margin: 20px 30px 0 40px;
    max-width: 100%;
}

.technik h1{
    margin-top: 100px;
}

.technik img{
    max-width: 40vw;
    max-height: 40vw;
}


#vid{
    display:flex;justify-content:center;align-items:center;
    height: 1200px;
}

iframe{
    width: 90%;
    height: 980px;
    display: flex;
    justify-content: center;
}

.kontakt{
    display: flex;
    justify-content: flex-start;
    height: 600px;
    cursor: default;
}

.text{
    margin: 66px 20px 0 40px;
    max-width: 70%;
}

.text p{
    margin-top: 20px;
}

.kontakt img{
    max-width: 40vw;
    max-height: 40vw;
}

.footer{
    width: 100%;
    background: rgb(10, 21, 26);
}

.social-btn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer h1{
    text-decoration: none;
    margin: 0 0 0 40px;
}

.footer a{
    margin: 0px 30px 0 30px;
    text-decoration: none;
    font-size: 100%;
}

.werbung{
    font-size: 30px;
    margin: 0 0 20px 20px;
    text-decoration: none;
}

#werbung{
    background-color: #0F2027;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
    font-family: 'Abel', sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
    padding: 3.5rem 0;
    cursor: default;
}
.heading span {
    display: block;
}

.gallery {
    display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
    display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
    transition: transform 400ms ease-out;

}

.gallery-image:hover {
    transform: scale(1.15);
}





@supports (display: grid) {
    .gallery {
        display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}
    
	.gallery,
	.gallery-item {
        margin: 0;
	}
}

@media only screen and (max-width: 1100px) {
  

    .technik h1, .text{
        margin-top: 20px;
    }

    iframe{
        height: 500px;
    }

    #vid{
        height: 800px;
    }

}

@media only screen and (max-width: 850px) {

    nav h1,
    nav a   {
      font-size: 30px;  
    }

    nav a{
        margin-top: 35px;
    }

    iframe{
        height: 350px;
    }

}

@media only screen and (max-width: 750px) {

    nav h1,
    nav a   {
      font-size: 25px;  
    }

    nav h1{
        margin-top: 23px;
    }


    iframe{
        height: 350px;
    }
    iframe{
        height: 300px;
    }
    #vid{
        height: 450px;
    }
}

@media only screen and (max-width: 670px) {
    
    nav a{
        display: none;
    }

    nav h1{
        margin-left: 40%;
    }

    iframe{
        height: 280px;
    }

    #vid{
        height: 400px;
    }

}


@media only screen and (max-width: 1223px) {
    

    p{
        font-size: 23px;
    }
    
    h1{
        font-size: 40px;
    }
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.names{
    display: none;
}

.flex{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    
    .social-btn{
        display: block;
        margin: 0 auto 0 auto;
    }

    .social-btn a{
        display: block;
        padding-bottom: 20px;

    }

    .names{
        padding-top: 40px;
        display: block;
    }
}